@font-face {
  font-family: 'Graphik';
  src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1655269471/FONTS/Graphik/Graphik-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1655269472/FONTS/Graphik/Graphik-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1657791431/FONTS/Graphik/GRAPHIK-SEMIBOLD.OTF');
  font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
}
